.container-fluid{
  width:100%;
}

/* 디바이스별 컨테이너 너비 설정 */
/* 스마트폰 */
.container{
  width:100%;
}

/* 타블렛 */
@media only screen and (min-width: 600px) {
  .container{
    margin: auto;
    width: 800px;
  }
}

/* 노트북 or 데스크탑 */
@media only screen and (min-width: 992px) {
  .container{
    margin: auto; 
    width: 1000px;
  }
}