.slider{
  position: relative;
}

.slider .button{
  opacity: 0;
  position: absolute;
  background-color: darkgray;
  border:none;
  color: white;
  top: 50%;
  transition-duration: 0.2s;
}

.slider:hover .button{
  opacity: 1;
}

.slider .slide-group{
  list-style: none;
  padding:0;
  margin:0 15px;
  /* transform: translateX(-100%);
  transition-duration: 0.45s; */
}

.slider .slide{
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: zoom-in;
}
.slider .slide.show::after{
/* .slider .slide::after{ */
  content:'';
  display: block;
  z-index: -100;
  padding-bottom: 100%;
}

.slider .leftArrow{
  left:0;
}

.slider .rightArrow{
  right:0;
}

.lightbox{
  display: none;
  opacity: 0;
  transition-duration: 0.2s;
}

.lightbox.show{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 1;
  
}

.lightbox img{
  position: relative;
  top: 40px;
  max-height: calc(100% - 80px);
  max-width: 100%;
  cursor: zoom-out;
}

@media only screen and (min-width: 992px) {
  .lightbox img{
    height: calc(100% - 80px);
  }
}

.lightbox .icon{
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}


.previews{
  display: flex;
  list-style: none;
  margin:0;

}

.previews .slide{
  width:10%;
  height:auto;
  cursor: pointer;
  margin:1px;
  background-color: black;
}

.previews .slide:first-child{
  margin-left: 0px;
}

.previews .slide:last-child{
  margin-right: 0px;
}

.previews .slide.show{
  width:calc(10% - 4px);
  border: 2px solid palevioletred;
}

.previews .slide::after{
  content:'';
  display: block;
  z-index: -100;
  padding-bottom: 100%;
}