.button {
  color: palevioletred;
  background-color: transparent;
  border: 1px solid palevioletred;
  border-radius: 3px;
  padding: 0.7rem 1em;
  cursor: pointer;
}

.button:hover{
  background-color: rgba(216, 112, 147, 0.10)
}

.button:focus{
  outline:none;
}

.primary{
  background-color: palevioletred;
  color: white;
}

.primary:hover{
  background-color: rgb(204, 97, 131);
}